:root {
    --bgcolor:#273D63;
     /* #1a79cf; */
  }

  body {
    /* background-image: linear-gradient(orange,white,green, gray); */
    /* margin: 50px; */
}
.container{
    margin: 50px;
}
  /* .search{
    margin-top: 5px;
    margin-right: 50px;
    /* padding: 5px; */
    /* border: 1px solid black;
    border-radius: 2px;
    width: 200px;
    height: 35px;
  } */
  * {
    margin: 0;
    padding: 0;
  }
  
  .page-header {
    /* background-color: var(--bgcolor); */
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    background-color: blue;
    width: 100%;
  }
  .logo {
    color: white;
    align-self: center;
    margin-left: 1.2rem;
    font-size: 2.5rem;
    height: 25px;
  }
  .logo p{
    /* padding-bottom: 80px; */
  margin-top: -15px;
  }
  .nav-bar {
    margin: auto;
  }
  
  .nav-bar a {
    color: white;
    padding: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .nav-bar a:hover{
    color: yellow;
    background-color: black;
    border: 50px;
    border-radius: 5px;
    
  }
  button:hover{
    color: yellow;
    background-color: black;
    border: 50px;
    border-radius: 5px;
  }
  
  .menu-icon {
    color: white;
    cursor: pointer;
    display: none;
  }
  
  button {
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
  }
  @media screen and (max-width: 1024px) {
    .nav-bar {
      display: none;
      position: absolute;
      /* position: relative; */
      top: 3.7rem;
      left: 0;
      width: 100%;
      background-color: var(--bgcolor);
      text-align: center;
    }
  
    .nav-bar.responsive {
      display: block;
    }
  
    .nav-bar a {
      display: block;
    }
  
    .menu-icon {
      display: block;
      z-index: 1;
    }
  
    button {
      padding: 0.4rem;
    }
    .logo {
      font-size: 1.4rem;
    }
  }

  /* About Us */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .about-us{
    height: auto;
    width: 100%;
    padding: 90px 0;
    background: #ddd;
    /* border: 1px solid gray;
    border-radius: 10px; */
  }
  .pic{
    height: auto;
    width:  302px;
    border: 2px solid black;
    border-radius: 20px;
  }
  .about{
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .text{
    width: 540px;
  }
  .text h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .text h5{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  span{
    color: #4070f4;
  }
  .text p{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .data{
    margin-top: 30px;
  }

 /*===============================   
            FOOTER START
 ================================*/

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins',sans-serif;
   text-decoration: none;
 }
 footer{
   width: 100%;
   /* position: fixed; */
   bottom: 0;
   left: 0;
   background: #111;
   margin-top: 0px;
   text-align: center;
 }
 footer .content{
   max-width: 1350px;
   margin: auto;
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 #imgage147{
     height: 100px;
     width: 150px;
     border: 1px solid blue;
     border-radius: 10px;
     /* margin-top: 80px; */
 }
 
 footer .content p,a{
   color: #fff;
 }
 footer .content .box{
   width: 33%;
   transition: all 0.4s ease;
 }
 footer .content .topic{
   font-size: 22px;
   font-weight: 600;
   color: #fff;
   margin-bottom: 16px;
 
 }
 footer .content p{
   text-align: justify;
 }
 footer .content .lower .topic{
   margin: 24px 0 5px 0;
 }
 footer .content .lower i{
   padding-right: 16px;
 }
 footer .content .middle{
   padding-left: 80px;
 }
 footer .content .middle a{
   line-height: 32px;
 }
 footer .content .right input[type="text"]{
   height: 45px;
   width: 100%;
   outline: none;
   color: #d9d9d9;
   background: #000;
   border-radius: 5px;
   padding-left: 10px;
   font-size: 17px;
   border: 2px solid #222222;
 }
 footer .content .right input[type="submit"]{
   height: 42px;
   width: 100%;
   font-size: 18px;
   color: #d9d9d9;
   background: #eb2f06;
   outline: none;
   border-radius: 5px;
   letter-spacing: 1px;
   cursor: pointer;
   margin-top: 12px;
   border: 2px solid #eb2f06;
   transition: all 0.3s ease-in-out;
 }
 .content .right input[type="submit"]:hover{
   background: none;
   color:  #eb2f06;
 }
 footer .content .media-icons a{
   font-size: 16px;
   height: 45px;
   width: 45px;
   display: inline-block;
   text-align: center;
   line-height: 43px;
   border-radius: 5px;
   border: 2px solid #222222;
   margin: 30px 5px 0 0;
   transition: all 0.3s ease;
 }
 .content .media-icons a:hover{
   border-color: #eb2f06;
 }
 footer .bottom{
   width: 100%;
   text-align: right;
   color: #d9d9d9;
   padding: 0 40px 5px 0;
 }
 footer .bottom a{
   color: #eb2f06;
 }
 footer a{
   transition: all 0.3s ease;
 }
 footer a:hover{
   color: #eb2f06;
 }
     .f-credits{
       padding-top: 30px;
       width: 100%;
       color: rgb(241,255,255);
       background-color: maroon;
       /* rgb(27,94,143); */
       height: 75px;
       text-align: center;
   }
 @media (max-width:1100px) {
   footer .content .middle{
     padding-left: 50px;
   }
 }
 @media (max-width:950px){
   footer .content .box{
     width: 50%;
   }
   .content .right{
     margin-top: 40px;
   }
 }
 @media (max-width:560px){
   footer{
     position: relative;
   }
   footer .content .box{
     width: 100%;
     margin-top: 30px;
   }
   footer .content .middle{
     padding-left: 0;
   }
 }
 
 /*===============================   
             FOOTER END
  ================================*/